
**/node_modules/
**/resource/
**/public/
**/uploads/
**/.angular/
**angular.json
**package-lock.json
**Mutimedia Vela.code-workspace
**/__pycache__
**.env
**.env.example
**/venv
**.pyc
**estructura.txt
**/descargas/